
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		{% load static %}
     	<link rel="stylesheet" href="{% static 'exibir_inicial/css/exibir_inicial.css' %}">
		<meta charset="UTF-8">
		<title>Monitoramento CPD</title>		
		<link rel="stylesheet" href="style.css">
    </head>
	  <body>	  	 
		 <main>
		 <h1>Pagina inicial monitoramento CPD </h1>
		      <nav>
              <ul>
		        <a href="workstations/"><li>Workstations</li></a>
		        <a href="impressoras/"><li>Impressoras</li></a>		
		        <a href="thinclients"><li>Thinclients</li></a>
		        <a href="pdvs/"><li>PDV's</li></a>
		        </nav>
              </ul>
          </main>
     </body>
</html>

