<nav class="navbar navbar-light" style="background-color: #87D37C;">
    <div class="container">
      <span class="navbar-brand mb-0 h1">Portal de monitoramento</span>
      
        <a class="nav-link nav-item" aria-current="page" href="/">Página inicial</a>
        <a class="nav-link nav-item" aria-current="page" href="/workstations">Workstations</a>
        <a class="nav-link nav-item" aria-current="page" href="/impressoras">Impressoras</a>
        <a class="nav-link nav-item" aria-current="page" href="/thinclients">Thinclients</a>
      
    </div>
  </nav>